.footer {
  display: block;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid var(--border);
  padding-top: 8px;
  padding-bottom: 32px;
  text-align: center;
}

.copyright {
  color: var(--secondary);
}
