.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header--sticky {
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
  backdrop-filter: blur(2px);
}
