@use 'sass:map';
@use '../variables' as *;
@use '../functions' as *;

@mixin colors($forground: null, $background: null) {
  background: $background;
  color: $forground;
}

@mixin make-color-util($name) {
  $color-values: map.get($colors, $name);
  @each $prefix in text, bg {
    $name: '' + $name;
    $prop: if($prefix == text, color, background-color);
    @if is-color($color-values) {
      .#{$prefix}-#{$name} {
        #{$prop}: $color-values;
      }
    } @else {
      @each $key, $value in $color-values {
        .#{$prefix}-#{$name}-#{$key} {
          #{$prop}: $value;
        }
      }
    }
  }
}
