%reset-box-model {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

%reset-pseudo-element {
  &::before,
  &::after {
    @extend %reset-box-model;
  }
}

body {
  @extend %reset-pseudo-element;
  * {
    &::before,
    &::after {
      @extend %reset-box-model;
    }
  }
}
