.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.container--padding {
  padding: 0 16px;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
