.toggleDarkMode {
  cursor: pointer;
  border: 0;
  padding: 8px;
  background: none;
  color: var(--primary);
}

.toggleDarkMode--fixed {
  position: fixed;
  top: 24px;
  right: 24px;
}

.toggleDarkMode svg {
  pointer-events: none;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
