.features {
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  font-size: 0.875rem;
  gap: var(--gap);
}

.features strong {
  display: block;
  margin-bottom: 2px;
  font-size: 1rem;
  color: var(--primary);
}

.features a {
  text-decoration: none;
  color: var(--primary);
}

@media (min-width: 48em /* 768px */) {
  .features {
    flex-flow: row wrap;
  }

  .features li {
    --columns: 2;
    /* flex-basis: calc(100% / 2 - (var(--gap) / (2 / (2 - 1))); */
    flex-basis: calc(
      100% / var(--columns) -
        (var(--gap) / (var(--columns) / (var(--columns) - 1)))
    );
  }
}

@media (min-width: 64em /* 1024px */) {
  .features li {
    --columns: 3;
    /* flex-basis: calc(100% / 3 - (var(--gap) / (3 / (3 - 1)))); */
  }
}

@media (min-width: 80em /* 1280px */) {
  .features li {
    --columns: 4;
    /* flex-basis: calc(100% / 4 - (var(--gap) / (4 / (4 - 1))); */
  }
}
