@use 'variables' as *;

// CSS 변수 (Sass 변수를 사용하기 위해서는 보간법이 필요!!)
:root {
  // interpolation, 보간법
  --forground: #{$black};
  --background: #{$white};
  --primary: #{$pink-500};
  --secondary: #{$gray-700};
  --border: #{$pink-200};
}

.dark {
  --forground: #{$pink-50};
  --background: #{$pink-900};
  --primary: #{$pink-300};
  --secondary: #{$gray-300};
  --border: #{$pink-600};
}
