.reset {
  &--list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  &--abbr {
    cursor: help;
    text-decoration: none;
  }
  &--table {
    border-collapse: collapse;
    border-spacing: 0;

    caption {
      // a11yHidden Class
      overflow: hidden;
      position: absolute;
      clip: rect(0, 0, 0, 0);
      clip-path: circle(0);
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
    }
  }
}
