@use '../config';
@use '../components' as *;

.reset {
  &--box-model {
    margin: 0;
    border: 0;
    padding: 0;
  }
  &--button {
    cursor: pointer;
    svg {
      pointer-events: none;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  &--list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  &--anchor {
    color: currentColor;
    text-decoration: none;
  }
  &--abbr {
    cursor: help;
    text-decoration: none;
  }
  &--table {
    border: {
      collapse: collapse;
      spacing: 0;
    }

    caption {
      @include config.a11yHidden;
    }
  }
}
