@use 'sass:meta';
@use 'sass:math';
@use 'sass:map';
@use 'variables/colors' as *;

// --------------------------------------------------------------------------
// Types

@function is-type($data) {
  @return meta.type-of($data);
}

@function is-null($data) {
  @return is-type($data) == 'null';
}

@function is-string($data) {
  @return is-type($data) == 'string';
}

@function is-color($data) {
  @return is-type($data) == 'color';
}

@function is-number($data) {
  @return is-type($data) == 'number';
}

@function is-bool($data) {
  @return is-type($data) == 'bool';
}

@function is-list($data) {
  @return is-type($data) == 'list';
}

@function is-map($data) {
  @return is-type($data) == 'map';
}

@function is-function($get-function-value) {
  @return is-type($get-function-value) == 'function';
}

// --------------------------------------------------------------------------
// Colors

@function get-color($map, $level) {
  @return map.get($map, $level);
}

@function get-red($level) {
  @return get-color($red, $level);
}
@function get-gray($level) {
  @return get-color($gray, $level);
}
@function get-blue($level) {
  @return get-color($blue, $level);
}
@function get-green($level) {
  @return get-color($green, $level);
}

// --------------------------------------------------------------------------
// Units

@function get-base-rem-size-percentage($base-px-size) {
  @return math.div(remove-unit($base-px-size), 16) * 100%;
}

@function rem($unit, $base: 16) {
  @return math.div(remove-unit($unit), remove-unit($base)) * 1rem;
}

@function em($unit, $base: 16) {
  @return math.div(remove-unit($unit), remove-unit($base)) * 1em;
}

@function get-unit($value) {
  @return math.unit($value);
}

@function has-unit($value) {
  @return get-unit($value) != '';
}

@function remove-unit($unit) {
  @return math.div($unit, $unit * 0 + 1);
}

// --------------------------------------------------------------------------
// Math

@function get-random($n) {
  @return math.round(math.random() * remove-unit($n));
}

@function get-random-min-max($min: 0, $max: 100) {
  @return get-random($max - $min) + $min;
}
