@use 'sass:map';
@use '../functions' as *;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1140px,
  2xl: 1280px,
);

@mixin mq($breakpoint) {
  $query: map.get($breakpoints, $breakpoint); // px
  @media (min-width: em($query)) {
    /* min-width: #{$query} */
    @content;
  }
}
