$white: #ffffff;
$black: #000000;

$red: (
  100: #ead5d8,
  200: #d5abb0,
  300: #c08189,
  400: #ab5762,
  500: #962d3b,
  600: #78242f,
  700: #5a1b23,
  800: #3c1217,
  900: #1e090c,
);

$gray: (
  100: #d4d3d4,
  200: #a9a8a9,
  300: #7d7c7e,
  400: #525153,
  500: #272528,
  600: #1f1e20,
  700: #171618,
  800: #100f10,
  900: #080708,
);

$green: (
  100: #d0d9d6,
  200: #a1b2ae,
  300: #728c85,
  400: #43655d,
  500: #143f34,
  600: #10322a,
  700: #0c261f,
  800: #081915,
  900: #040d0a,
);

$blue: (
  100: #deecef,
  200: #bed9df,
  300: #9dc6cf,
  400: #7db3bf,
  500: #5ca0af,
  600: #4a808c,
  700: #376069,
  800: #254046,
  900: #122023,
);

$colors: (
  white: $white,
  black: $black,
  gray: $gray,
  red: $red,
  green: $green,
  blue: $blue,
);
