$white: #ffffff;
$black: #000000;

$red-100: #ead5d8;
$red-200: #d5abb0;
$red-300: #c08189;
$red-400: #ab5762;
$red-500: #962d3b;
$red-600: #78242f;
$red-700: #5a1b23;
$red-800: #3c1217;
$red-900: #1e090c;

$gray-100: #d4d3d4;
$gray-200: #a9a8a9;
$gray-300: #7d7c7e;
$gray-400: #525153;
$gray-500: #272528;
$gray-600: #1f1e20;
$gray-700: #171618;
$gray-800: #100f10;
$gray-900: #080708;

$green-100: #d0d9d6;
$green-200: #a1b2ae;
$green-300: #728c85;
$green-400: #43655d;
$green-500: #143f34;
$green-600: #10322a;
$green-700: #0c261f;
$green-800: #081915;
$green-900: #040d0a;

$blue-100: #deecef;
$blue-200: #bed9df;
$blue-300: #9dc6cf;
$blue-400: #7db3bf;
$blue-500: #5ca0af;
$blue-600: #4a808c;
$blue-700: #376069;
$blue-800: #254046;
$blue-900: #122023;
