:root {
  --black: #000;
  --white: #fff;
  --pink-50: hsl(330, 50%, 95%);
  --pink-100: hsl(330, 50%, 90%);
  --pink-200: hsl(330, 50%, 80%);
  --pink-300: hsl(330, 50%, 70%);
  --pink-400: hsl(330, 50%, 60%);
  --pink-500: hsl(330, 50%, 50%);
  --pink-600: hsl(330, 50%, 40%);
  --pink-700: hsl(330, 50%, 30%);
  --pink-800: hsl(330, 50%, 20%);
  --pink-900: hsl(330, 50%, 10%);
  --gray-50: hsl(330, 10%, 95%);
  --gray-100: hsl(330, 10%, 90%);
  --gray-200: hsl(330, 10%, 80%);
  --gray-300: hsl(330, 10%, 70%);
  --gray-400: hsl(330, 10%, 60%);
  --gray-500: hsl(330, 10%, 50%);
  --gray-600: hsl(330, 10%, 40%);
  --gray-700: hsl(330, 10%, 30%);
  --gray-800: hsl(330, 10%, 20%);
  --gray-900: hsl(330, 10%, 10%);
  --forground: var(--black);
  --background: var(--white);
  --primary: var(--pink-500);
  --secondary: var(--gray-700);
  --border: var(--pink-200);
  --gap: 24px;
}

.dark {
  --forground: var(--pink-50);
  --background: var(--pink-900);
  --primary: var(--pink-300);
  --secondary: var(--gray-300);
  --border: var(--pink-600);
}

.reset--list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.reset--abbr {
  cursor: help;
  text-decoration: none;
}

body {
  margin: 0;
  font: 1rem/1.5 "Spoqa Han Sans Neo", sans-serif;
  background: var(--background);
  color: var(--secondary);
}

.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header--sticky {
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
  backdrop-filter: blur(2px);
}

.footer {
  display: block;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid var(--border);
  padding-top: 8px;
  padding-bottom: 32px;
  text-align: center;
}

.copyright {
  color: var(--secondary);
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.container--padding {
  padding: 0 16px;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: auto;
  height: 48px;
}

.headline {
  margin: 0;
  font-weight: normal;
  color: var(--primary);
}

.content {
  flex: 1;
}

.content p {
  margin-top: 4px;
}

.features {
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  font-size: 0.875rem;
  gap: var(--gap);
}

.features strong {
  display: block;
  margin-bottom: 2px;
  font-size: 1rem;
  color: var(--primary);
}

.features a {
  text-decoration: none;
  color: var(--primary);
}

@media (min-width: 48em) {
  .features {
    flex-flow: row wrap;
  }
  .features li {
    --columns: 2;
    /* flex-basis: calc(100% / 2 - (var(--gap) / (2 / (2 - 1))); */
    flex-basis: calc(100% / var(--columns) - var(--gap) / (var(--columns) / (var(--columns) - 1)));
  }
}
@media (min-width: 64em) {
  .features li {
    --columns: 3;
    /* flex-basis: calc(100% / 3 - (var(--gap) / (3 / (3 - 1)))); */
  }
}
@media (min-width: 80em) {
  .features li {
    --columns: 4;
    /* flex-basis: calc(100% / 4 - (var(--gap) / (4 / (4 - 1))); */
  }
}
.toggleDarkMode {
  cursor: pointer;
  border: 0;
  padding: 8px;
  background: none;
  color: var(--primary);
}

.toggleDarkMode--fixed {
  position: fixed;
  top: 24px;
  right: 24px;
}

.toggleDarkMode svg {
  pointer-events: none;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

/*# sourceMappingURL=app.css.map */
